movies.db
similarity.pkl
instance
movies.pkl
.env
.gitignore
trial.py
movie_env
.hintrc
migrations
movie.db
instancemovies.db
flask
.idea
compress.py
__pycache__


# Stop tracking files but keep them locally
# git rm --cached movie.db flask/ .idea/ compress.py migrations/ movie_env/  __pycache__/ -r