
{% extends 'base.html' %}
{% block title %}My Top 10 Movies{% endblock %}
{% block content %}
<div class="container">
    <h1 class="heading">Recommendation for you</h1>
    {% for me in movies %}
        <div class="card col-xxl-6 col-xl-12 col-lg-6 col-sm-12">
            <div class="front" style="background-image: url({{ me['img_url'] }});">
                <p class="large">{{ me['rating'] }}</p>
            </div>
            <div class="back">
              <div>
            <div class="title">{{ me['title']}} <span class="release_date">{{ me['year'] }}</span></div>
                <div class="rating">
                    <label>{{ me['rating'] }}</label>
                  <i class="fas fa-star star"></i>
                </div>
                  <p class="review">{{ me['review'] }}</p>
                <p class="overview">{{ me['description'] }}</p>

                <a href="{{ url_for('dataset', id=me['id']) }}" class="button">ADD</a>
                  <h2>{{ id_val }}</h2>
                </div>
              </div>
            </div>
    {% endfor %}
<a href="{{ url_for('home') }}" class="button">Go Main page</a>
</div>

{% endblock %}