<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CineMatch</title>
  <link rel="icon" type="image/x-icon" href="../../static/img/favicon/favicon.ico">

  <!-- Favicon -->
  <link href="../../static/img/favicon/apple-touch-icon.png" rel="icon">
  <link rel="icon" href="../../static/img/favicon/apple-touch-icon.png" type="image/icon type">

	<link href="../../static/css/bootstrap.min.css" rel="stylesheet" >
	<link href="../../static/css/font-awesome.min.css" rel="stylesheet" >
	<link href="../../static/css/global.css" rel="stylesheet">
	<link href="../../static/css/index.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Rajdhani&display=swap" rel="stylesheet">
	<script src="../../static/js/bootstrap.bundle.min.js"></script>

  <style>
    .genre-img {
          object-fit: cover;
          width: 100%;
          height: auto; /* Let the height adjust automatically */
          aspect-ratio: 16 / 9; /* Maintain the 16:9 aspect ratio */
          border-radius: 5px; /* Optional: rounded corners */
      }

      /* Media Queries for Responsive Design */
      @media (min-width: 1200px) {
          .genre-img {
              height: 120px; /* Larger images on wide screens */
          }
      }

      @media (min-width: 768px) and (max-width: 1199px) {
          .genre-img {
              height: 80px; /* Medium height for tablets */
          }
      }

      @media (max-width: 767px) {
          .genre-img {
              height: 40px; /* Smaller height for mobile */
          }
      }


  </style>
</head>
<body>

<section id="top">
<div class="container">
 <div class="row top_1">
  <div class="col-md-3">
   <div class="top_1l pt-1">
    <h3 class="mb-0"><a class="text-white" href="{{ url_for('home') }}"><i class=""></i> 
      <img src="/static/img/finalcal.png" alt="Logo" class="logo" style="max-width: 140px; max-height: 80px;">
    </a></h3>
   </div>
  </div>
  <div class="col-md-5">
   <div class="top_1m">
    <form method="POST" action="{{ url_for('search') }}">
        {{ form.hidden_tag() }}
        <div class="input-group">
            {{ form.movie_title(class="form-control bg-black", placeholder="Search Site...") }}
            <div class="input-group-append">
                {{ form.done(class="btn btn text-white bg_red rounded-0 border-0") }}
            </div>
        </div>
    </form>
   </div>
  </div>
  <div class="col-md-4">
   <div class="top_1r text-end">
     <ul class="social-network social-circle mb-0">
			<li><a href="https://www.instagram.com/spin.e10/" class="icoRss" title="Rss"><i class="fa fa-instagram"></i></a></li>
			<li><a href="https://github.com/Nayan-Bebale/" class="icoGithub" title="Github"><i class="fa fa-github"></i></a></li>
			<li><a href="https://www.youtube.com/@T3-TheThinkTank" class="icoGoogle" title="Google +"><i class="fa fa-youtube"></i></a></li>
			<li><a href="https://www.linkedin.com/in/nayan-bebale-63a62923a/" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
		</ul>
   </div>
  </div>
 </div>
</div>
</section>

<section id="header">
  <nav class="navbar navbar-expand-md navbar-light" id="navbar_sticky">
    <div class="container">
      <a class="navbar-brand text-white fw-bold" href="{{ url_for('home') }}">
        <i class=""></i> <img src="../../static/img/finalcal.png" alt="Logo" class="logo" style="max-width: 100px; max-height: 50px;">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mb-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('critics') }}">Critics</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Blog
            </a>
            <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{ url_for('blog') }}">Blog</a></li>
              <li><a class="dropdown-item border-0" href="{{ url_for('blog_details') }}">Blog Detail</a></li>
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="{{ url_for('services') }}">Services</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="{{ url_for('teams') }}">Team</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Pages
            </a>
            <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{{ url_for('about') }}">About Us</a></li>
              <li><a class="dropdown-item" href="{{ url_for('services') }}">Services</a></li>
              <li><a class="dropdown-item" href="{{ url_for('teams') }}">Team</a></li>
              <li><a class="dropdown-item border-0" href="{{ url_for('contect') }}">Contact</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('contect') }}">Contact Us</a>
          </li> -->
        </ul>
        <!-- Right-aligned Login/Logout button -->
        <ul class="navbar-nav ms-auto mb-0">
          {% if current_user.is_authenticated %}
            <li class="nav-item">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <!-- hi, {{ current_user.profile_pic }} -->
                  {% if current_user.profile_pic %}
                    <img src="{{ url_for('static', filename='uploads/' + current_user.profile_pic) }}" 
                        class="img-fluid rounded-circle" 
                        style="max-width: 40px; height: auto;" 
                        alt="Profile Image">
                  {% else %}
                    <img src="{{ url_for('static', filename='img/default.png') }}" 
                        class="img-fluid rounded-circle" 
                        style="max-width: 40px; height: auto;" 
                        alt="Profile Image">
                  {% endif %}

                </a>
                <ul class="dropdown-menu drop_1" aria-labelledby="navbarDropdown">
                  <form action="{{ url_for('upload_profile_pic') }}" method="POST" enctype="multipart/form-data" class="d-inline">
                    <label for="profile_pic_upload" class="btn btn-primary">Upload Picture</label>
                    <input type="file" name="profile_pic" id="profile_pic_upload" style="display: none;" onchange="this.form.submit()">
                  </form>
                  
                  <li><a class="dropdown-item" href="{{ url_for('about') }}">Add Movies</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('my_favorite') }}">My Favorite</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('my_critics') }}">My Critics</a></li>
                  <li><a class="dropdown-item border-0" href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
              </li>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('login') }}">Login</a>
            </li>
          {% endif %}
        </ul>

      </div>
    </div>
  </nav>
  
</section>
