{% include 'free_movie_zip/header.html' %}

{% block content %}
<section id="center" class="center_home">
	<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
		<div class="carousel-indicators">
			{% for movie in context.top_3_movies %}
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ loop.index0 }}"
				class="{% if loop.first %}active{% endif %}" aria-label="Slide {{ loop.index }}"></button>
			{% endfor %}
		</div>
		<div class="carousel-inner">
			{% for movie in context.top_3_movies %}
			<div class="carousel-item {% if loop.first %}active{% endif %}">
				<img src="https://image.tmdb.org/t/p/w500{{ movie['backdrop_path'] }}" class="d-block w-100"
					alt="{{ movie['title'] }}">
				<div class="carousel-caption d-md-block">
					<h1 class="font_60">{{ movie['title'] }}</h1>
					<h6 class="mt-3">
						<span class="col_red me-3">
							{% for star in range(1, 6) %}
							<i
								class="fa {% if star <= movie['vote_average'] // 2 %}fa-star{% else %}fa-star-o{% endif %}"></i>
							{% endfor %}
						</span>
						{{ movie['vote_average'] }} (IMDb) &nbsp; Year: {{ movie['release_date'][:4] }}
						<a class="bg_red p-2 pe-4 ps-4 ms-3 text-white d-inline-block" href="#">Action</a>
					</h6>
					<p class="mt-3">{{ movie['overview'] }}</p>
					<h6 class="mt-4 mb-0">
						<a class="button" href="{{ url_for('movie_details', movie=movie.title, id=movie.id ) }}">
							<i class="fa fa-play-circle align-middle me-1"></i> Watch Trailer
						</a>
					</h6>
				</div>
			</div>
			{% endfor %}
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
			data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
			data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>
</section>

<section id="trend" class="pt-4 pb-5">
	<div class="container">
		<div class="row trend_1">
			<div class="col-md-6 col-6">
				<div class="trend_1l">
					<h4 class="mb-0"><i class="fa fa-youtube-play align-middle col_red me-1"></i> Latest <span
							class="col_red">Movies</span></h4>
				</div>
			</div>
			<div class="col-md-6 col-6">
				<div class="trend_1r text-end">
					<h6 class="mb-0"><a class="button" href="#"> View All</a></h6>
				</div>
			</div>
		</div>
		<div class="row trend_2 mt-4">
			<div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					{% for idx in range((context['latest_12_movies']|length) // 4) %}
					<button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="{{ idx }}"
						class="{{ 'active' if idx == 0 else '' }}" aria-label="Slide {{ idx + 1 }}"></button>
					{% endfor %}
				</div>
				<div class="carousel-inner">
					{% for page in context['latest_12_movies']|batch(4) %}
					<div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
						<div class="trend_2i row">
							{% for movie in page %}
							<div class="col-md-3 col-6">
								<div class="trend_2im clearfix position-relative">
									<div class="trend_2im1 clearfix">
										<div class="grid">
											<figure class="effect-jazz mb-0">
												<a
													href="{{ url_for('movie_details', movie=movie.title, id=movie.id ) }}"><img
														src="https://image.tmdb.org/t/p/w500{{ movie['poster_path'] }}"
														class="w-100" alt="{{ movie['title'] }}"></a>
											</figure>
										</div>
									</div>
									<!-- <div class="trend_2im2 clearfix text-center position-absolute w-100 top-0">
										<span class="fs-1"><a class="col_red" href="{{ url_for('movie_details', movie=movie.title, id=movie.id ) }}"><i
													class="fa fa-youtube-play"></i></a></span>
									</div> -->
								</div>
								<!-- <div class="trend_2ilast bg_grey p-3 clearfix">
									<h5><a class="col_red"
											href="{{ url_for('movie_details', movie=movie.title, id=movie.id ) }}">{{
											movie['title'] }}</a></h5>
									<p class="mb-2">{{ movie['overview']|truncate(50) }}</p>
									<span class="col_red">
										{% for star in range(1, (movie['vote_average'] // 2) | int + 1) %}
											<i class="fa fa-star"></i>
										{% endfor %}
									</span>
									<p class="mb-0">Votes: {{ movie['vote_count'] }}</p>
								</div> -->
							</div>
							{% endfor %}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>


<section id="upcome" class="pt-4 pb-5">
	<div class="container">
		<div class="row trend_1">
			<div class="col-md-6 col-6">
				<div class="trend_1l">
					<h4 class="mb-0"><i class="fa fa-youtube-play align-middle col_red me-1"></i> UpComing <span
							class="col_red">Movies</span></h4>
				</div>
			</div>
			<div class="col-md-6 col-6">
				<div class="trend_1r text-end">
					<h6 class="mb-0"><a class="button" href="#"> View All</a></h6>
				</div>
			</div>
		</div>
		<div class="row trend_2 mt-4">
			<div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					{% for idx in range((context['upcoming_12_movies']|length) // 4) %}
					<button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="{{ idx }}"
						class="{{ 'active' if idx == 0 else '' }}" aria-label="Slide {{ idx + 1 }}"></button>
					{% endfor %}
				</div>
				<div class="carousel-inner">
					{% for page in context['upcoming_12_movies']|batch(4) %}
					<div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
						<div class="trend_2i row">
							{% for movie in page %}
							<div class="col-md-3 col-6">
								<div class="trend_2im clearfix position-relative">
									<div class="trend_2im1 clearfix">
										<div class="grid">
											<figure class="effect-jazz mb-0">
												<a
													href="{{ url_for('movie_details', movie=movie.title, id=movie.id ) }}"><img
														src="https://image.tmdb.org/t/p/w500{{ movie['poster_path'] }}"
														class="w-100" alt="{{ movie['title'] }}"></a>
											</figure>
										</div>
									</div>
									<!-- <div class="trend_2im2 clearfix text-center position-absolute w-100 top-0">
										<span class="fs-1"><a class="col_red" href="{{ url_for('movie_details', movie=movie.title, id=movie.id ) }}"><i
													class="fa fa-youtube-play"></i></a></span>
									</div> -->
								</div>
								<!-- <div class="trend_2ilast bg_grey p-3 clearfix">
									<h5><a class="col_red"
											href="{{ url_for('movie_details', movie=movie.title, id=movie.id ) }}">{{
											movie['title'] }}</a></h5>
									<p class="mb-2">{{ movie['overview']|truncate(50) }}</p>
									<span class="col_red">
										{% for star in range(1, (movie['vote_average'] // 2) | int + 1) %}
											<i class="fa fa-star"></i>
										{% endfor %}
									</span>
									
									<p class="mb-0">Votes: {{ movie['vote_count'] }}</p>
								</div> -->
							</div>
							{% endfor %}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>


<section id="popular" class="pt-4 pb-5 bg_grey">
	<div class="container">
		<div class="row trend_1">
			<div class="col-md-12">
				<div class="trend_1l">
					<h4 class="mb-0"><i class="fa fa-youtube-play align-middle col_red me-1"></i> Trending <span
							class="col_red">Movies Trailer</span></h4>
				</div>
			</div>
		</div>
		<div class="row popular_1 mt-4">
			<ul class="nav nav-tabs border-0 mb-0">
				{% for genre, movies in context.genre_movies.items() %}
				<li class="nav-item">
					<a href="#{{ genre }}" data-bs-toggle="tab" aria-expanded="false"
						class="nav-link {% if loop.first %}active{% endif %}">
						<span class="d-md-block">{{ genre.replace("trending_", "").replace("_", " ")|title }}</span>
					</a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<div class="popular_2 row mt-4">
			<div class="tab-content">
				{% for genre, movies in context.genre_movies.items() %}
				<div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ genre }}">
					<div class="row">
						{% for movie in movies %}
						<div class="col-md-6">
							<div class="popular_2i1 row">
								<div class="col-md-4 col-4">
									<div class="popular_2i1lm position-relative clearfix">
										<div class="popular_2i1lm1 clearfix">
											<div class="grid">
												<figure class="effect-jazz mb-0">
													<a
														href="{{ url_for('movie_details', movie=movie.title, id=movie.id ) }}"><img
															src="https://image.tmdb.org/t/p/w500{{ movie['poster_path'] }}"
															class="w-100" alt="{{ movie.title }}"></a>
												</figure>
											</div>
										</div>
										<div class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix">
											<ul>
												<li class="d-inline-block"><a href="#"><i
															class="fa fa-link col_red"></i></a></li>
												<li class="d-inline-block"><a href="#"><i
															class="fa fa-search col_red"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
								<div class="col-md-8 col-8">
									<div class="popular_2i1r">
										<h5><a class="col_red" href="#">{{ movie.title }}</a></h5>
										<h6>{{ movie.genre_names|join(", ") }}</h6>
										<h6>Imdb {{ movie.vote_average }} <span class="ms-2"><i
													class="fa fa-star col_red me-1"></i></span> Year: {{
											movie.release_date.split('-')[0] }}</h6>
										<p>{{ movie.overview | truncate_words(10) }}</p>
										<h6 class="mb-0"><a class="button"
												href="{{ url_for('movie_details', movie=movie.title, id=movie.id ) }}">More
												Info - Trailer</a></h6>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				{% endfor %}
			</div>
		</div>

</section>

<section id="choice" class="pt-4 pb-5">
	<div class="container">
		<div class="row trend_1">
			<div class="col-md-6 col-6">
				<div class="trend_1l">
					<h4 class="mb-0">
						<i class="fa fa-youtube-play align-middle col_red me-1"></i> Director's <span
							class="col_red">Choice</span>
					</h4>
				</div>
			</div>
			<div class="col-md-6 col-6">
				<div class="trend_1r text-end">
					<h6 class="mb-0"><a class="button" href="#"> View All</a></h6>
				</div>
			</div>
		</div>

		<div class="row trend_2 mt-4">
			<div id="carouselExampleCaptions3" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<!-- Generate carousel indicators dynamically -->
					{% for i in range((context['director_choice']|length // 3)) %}
					<button type="button" data-bs-target="#carouselExampleCaptions3" data-bs-slide-to="{{ i }}"
						class="{% if i == 0 %}active{% endif %}" aria-current="{% if i == 0 %}true{% endif %}"
						aria-label="Slide {{ i + 1 }}">
					</button>
					{% endfor %}
				</div>

				<div class="carousel-inner">
					<!-- Loop through director_choice movies and display them in groups of 3 -->
					{% for chunk in context['director_choice']|batch(3, fill_with=None) %}
					<div class="carousel-item {% if loop.first %}active{% endif %}">
						<div class="trend_2i row">
							{% for movie in chunk %}
							{% if movie %}
							<div class="col-md-4">
								<div class="trend_2im clearfix position-relative">
									<div class="trend_2im1 clearfix">
										<div class="grid">
											<figure class="effect-jazz mb-0">
												<a
													href="{{ url_for('movie_details', movie=movie.title, id=movie.id ) }}"><img
														src="https://image.tmdb.org/t/p/w500{{ movie['poster_path'] }}"
														class="w-100" alt="{{ movie['title'] }}"></a>
											</figure>
										</div>
									</div>
									<div class="trend_2im2 clearfix position-absolute w-100 top-0">
										<h5><a class="col_red" href="#">{{ movie['title'] }}</a></h5>
										<span class="col_red">
											{% for _ in range(movie['vote_average']|int) %}
											<i class="fa fa-star"></i>
											{% endfor %}
											{% for _ in range(5 - movie['vote_average']|int) %}
											<i class="fa fa-star-o"></i>
											{% endfor %}
										</span>
										<p class="mb-0">{{ movie['vote_average'] }} Votes</p>
									</div>
								</div>
							</div>
							{% endif %}
							{% endfor %}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>


<section id="play">
	<div class="play_m clearfix">
		<div class="container">
			<div class="row trend_1">
				<div class="col-md-12">
					<div class="trend_1l">
						<h4 class="mb-0">
							<i class="fa fa-youtube-play align-middle col_red me-1"></i> Top <span class="col_red">10
								Playlist</span>
						</h4>
					</div>
				</div>
			</div>
			<div class="play1 row mt-4 bg_grey pt-3 pb-3">
				<!-- Display the first movie in a larger frame -->
				<div class="col-md-9">
					<div class="play1l">
						{% for movie in context['top_10_movies'][:1] %}
						<div class="grid clearfix">
							<figure class="effect-jazz mb-0">

								<a href="{{ url_for('movie_details', movie=movie.title, id=movie.id ) }}"><img
										src="https://image.tmdb.org/t/p/w500{{ movie['poster_path'] }}" class="w-100"
										alt="{{ movie['title'] }}" class="w-100" height="450"
										alt="{{ context['top_10_movies'][0]['title'] }}"></a>
							</figure>
						</div>
						{% endfor %}
					</div>
				</div>

				<!-- Display the remaining 9 movies in a smaller frame -->
				<div class="col-md-3 ps-0">
					<div class="play1r">
						{% for movie in context['top_10_movies'][1:] %}
						<div class="play1ri {% if not loop.first %}mt-3{% endif %}">
							<div class="grid clearfix">
								<figure class="effect-jazz mb-0">
									<a href="{{ url_for('movie_details', movie=movie.title, id=movie.id ) }}"><img
											src="https://image.tmdb.org/t/p/w500{{ movie['poster_path'] }}"
											class="w-100" alt="{{ movie['title'] }}"></a>
								</figure>
							</div>
						</div>
						{% if loop.index == 9 %}

						{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>



		<div class="play2 row mt-4">
			<!-- Movie Poster -->
			<div class="col-md-4 p-0">
				<div class="play2l">
					<div class="grid clearfix">
						<figure class="effect-jazz mb-0">

							<a
								href="{{ url_for('movie_details', movie= context['best_movie_of_month']['title'], id=context['best_movie_of_month']['id'] ) }}"><img
									src="https://image.tmdb.org/t/p/w500{{ context['best_movie_of_month']['poster_path'] }}"
									height="540" class="w-100" alt="{{ context['best_movie_of_month']['title'] }}"></a>
						</figure>
					</div>
				</div>
			</div>

			<!-- Movie Details -->
			<div class="col-md-8 p-0">
				<div class="play2r bg_grey p-4">
					<h5>
						<span class="col_red">BEST MOVIE OF THE MONTH:</span>
						{{ context['best_movie_of_month']['title'] }}
						<br>
						{{ context['best_movie_of_month']['tagline'] or 'Must Watch!' }}
					</h5>

					<!-- Display Genres -->
					<h5 class="mt-3">
						Genres:
						{% for genre in context['best_movie_of_month']['genres'] %}
						{{ genre['name'] }}{% if not loop.last %}, {% endif %}
						{% endfor %}
					</h5>

					<hr class="line">

					<!-- Overview -->
					<p class="mt-3">{{ context['best_movie_of_month']['overview'] }}</p>

					<div class="play2ri row mt-4">
						<!-- Movie Info -->
						<div class="col-md-6">
							<div class="play2ril">
								<h6 class="fw-normal">
									Status: <span class="pull-right">{{ context['best_movie_of_month'].get('status',
										'Unknown') }}</span>
								</h6>
								<hr class="hr_1">

								<h6 class="fw-normal">
									Runtime: <span class="pull-right">{{ context['best_movie_of_month']['runtime'] or
										'N/A' }} minutes</span>
								</h6>
								<hr class="hr_1">

								<h6 class="fw-normal">
									Release Date: <span class="pull-right">{{
										context['best_movie_of_month']['release_date'] }}</span>
								</h6>
								<hr class="hr_1">

								<h6 class="fw-normal">
									Budget: <span class="pull-right">${{
										"{:,.0f}".format(context['best_movie_of_month']['budget']) if
										context['best_movie_of_month']['budget'] else 'Unknown' }}</span>
								</h6>
								<hr class="hr_1">

								<h6 class="fw-normal">
									Revenue: <span class="pull-right">${{
										"{:,.0f}".format(context['best_movie_of_month']['revenue']) if
										context['best_movie_of_month']['revenue'] else 'Unknown' }}</span>
								</h6>
								<hr class="hr_1">

								<h6 class="fw-normal">
									Votes: <span class="pull-right">{{ context['best_movie_of_month']['vote_count']
										}}</span>
								</h6>
								<hr class="hr_1 mb-0">
							</div>
						</div>

						<!-- Ratings -->
						<div class="col-md-6">
							<div class="play2rir">
								<h6 class="fw-normal">IMDB Rating - {{ context['best_movie_of_month']['vote_average'] }}
								</h6>
								<div class="progress">
									<div class="progress-bar" role="progressbar"
										style="width: {{ context['best_movie_of_month']['vote_average'] * 10 }}%;"
										aria-valuenow="{{ context['best_movie_of_month']['vote_average'] * 10 }}"
										aria-valuemin="0" aria-valuemax="100"></div>
								</div>

								<h6 class="fw-normal mt-3">Popularity - {{ context['best_movie_of_month']['popularity']
									}}</h6>
								<div class="progress">
									<div class="progress-bar" role="progressbar"
										style="width: {{ context['best_movie_of_month']['popularity'] / 100 }}%;"
										aria-valuenow="{{ context['best_movie_of_month']['popularity'] / 100 }}"
										aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	</div>
</section>

<section id="stream" class="pb-5 pt-4">
	<div class="container">
		<div class="row trend_1">
			<div class="col-md-6 col-6">
				<div class="trend_1l">
					<h4 class="mb-0"><i class="fa fa-youtube-play align-middle col_red me-1"></i> Popular <span
							class="col_red">Genres</span></h4>
				</div>
			</div>
			<div class="col-md-6 col-6">
				<div class="trend_1r text-end">
					<h6 class="mb-0"><a class="button" href="#">View All</a></h6>
				</div>
			</div>
		</div>
		<div class="row trend_2 mt-4">
			<div id="carouselExampleCaptions4" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					{% for idx in range((context['GENRE_IDS']|length) // 3 ) %}
					<button type="button" data-bs-target="#carouselExampleCaptions4" data-bs-slide-to="{{ idx }}"
						class="{{ 'active' if idx == 0 else '' }}" aria-label="Slide {{ idx + 1 }}"></button>
					{% endfor %}
				</div>
				<div class="carousel-inner">
					{% for page in context['GENRE_IDS']|batch(3) %}
					<div class="carousel-item {{ 'active' if loop.first else '' }}">
						<div class="trend_2i row">
							{% for genre in page %}
							<div class="col">
								<div class="trend_2im clearfix position-relative">
									<div class="trend_2im1 clearfix">
										<div class="grid">
											<figure class="effect-jazz mb-0">
												<a href="{{ url_for('genre', genre=genre)}}"><img src="../../static/img/genres/{{genre}}.jpg" class="w-100 genre-img"
														alt="{{genre}}"></a>
											</figure>
										</div>
									</div>
									<div class="trend_2im2 clearfix position-absolute w-100 top-0">
										<h5><a class="col_red" href="{{ url_for('genre', genre=genre) }}">{{ genre }}</a></h5>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}

{% include 'free_movie_zip/footer.html' %}