{% include 'free_movie_zip/header.html' %} {% block content %}
<section id="center" class="center_o pt-2 pb-2">
  <div class="container-xl">
    <div class="row center_o1">
      <div class="col-md-5">
        <div class="center_o1l">
          <h2 class="mb-0">Movie Detail</h2>
        </div>
      </div>
      <div class="col-md-7">
        <div class="center_o1r text-end">
          <h6 class="mb-0 col_red">
            <a href="#">Home</a>
            <span class="me-2 ms-2 text-light"
              ><i class="fa fa-caret-right align-middle"></i
            ></span>
            Movie Detail
          </h6>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="blog" class="pt-4 pb-4 bg_grey">
  <div class="container-xl">
    <div class="row blog_1">
      <div class="col-md-8">
        <div class="blog_1l">
          <div class="blog_1l1">
            <div class="popular_2i1lm position-relative clearfix">
                <div class="popular_2i1lm1 clearfix">
                    <div class="grid">
                      <figure class="effect-jazz mb-0">
                        {% if video_url %}
                        <iframe
                          width="100%"
                          height="450"
                          src="{{ video_url }}"
                          frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen>
                        </iframe>
                        {% else %}
                        <img
                          src="https://image.tmdb.org/t/p/w500{{movie_details.poster_path}}"
                          height="450"
                          class="w-100"
                          alt="No Trailer Found"
                        />
                        {% endif %}
                      </figure>
                    </div>
                  </div>
                  
              <div
                class="popular_2i1lm2 position-absolute top-0 w-100 text-center clearfix"
              >
                <ul>
                  <li class="d-inline-block">
                    <a href="#"><i class="fa fa-link col_red"></i></a>
                  </li>
                  <li class="d-inline-block">
                    <a href="#"><i class="fa fa-search col_red"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="blog_1l1i mt-3">
              <h5><i class="fa fa-folder-open col_red me-1"></i> Movie Detail</h5>
              <h2 class="mt-3">
                <a class="col_red" href="#"
                  >{{ movie_details.title}}
                </a>
              </h2>
              <h6 class="fw-normal mt-3 col_light">
                <span
                  ><i class="fa fa-clock-o me-1 align-middle col_red"></i> {{ movie_details.release_date }}</span
                >
                <span class="ms-3">
                  <i class="fa fa-info-circle me-1 align-middle col_red"></i>
                  {{ movie_details.status }}
                </span>

                <span class="ms-3">
                  <i class="fa fa-tags me-1 align-middle col_red"></i>
                  {% for genre in movie_details.genres %}
                    {{ genre.name }}{% if not loop.last %}, {% endif %}{% endfor %}
                </span>

              </h6>
              <p class="mt-3">
                {{ movie_details.overview }}
              </p>
            </div>
          </div>
        
          <div class="blog_1l3 mt-4">
            <h3>Recent Comments</h3>
        </div>
        <div class="blog_1l5 mt-3">
            {% for comment in comments %}
            <div class="blog_1l5i row">
                <div class="col-md-2 col-2 pe-0">
                    <div class="blog_1l5il">
                      {% if comment.user.profile_pic %}
                        <img src="../../static/uploads/{{ comment.user.profile_pic }}" class="w-50" style="border-radius: 50%;" alt="Profile Image">
                      {% else %}
                        <img src="../../static/img/default.png" class="w-50" style="border-radius: 50%;" alt="Profile Image">
                      {% endif %}  
                    </div>

                </div>
                <div class="col-md-10 col-10">
                    <div class="blog_1l5ir">
                        <h5>
                            <a href="#">{{ comment.user.username }}</a>
                            <span class="font_14 col_light">/ {{ comment.timestamp.strftime('%d %b %Y') }}</span>
                        </h5>
                        <p class="font_18">
                            {{ comment.comment_text }}
                        </p>
                        <h6 class="font_14 mb-0 mt-3">
                            <a class="button p-3 pt-2 pb-2" href="#">Reply</a>
                        </h6>
                    </div>
                </div>
            </div>
            {% endfor %}
            <hr />
        </div>
        
          
          <div class="blog_1l3 mt-4">
            <h3>Leave a Comment</h3>
          </div>
          <div class="blog_1l6 mt-3">
            <div class="blog_1dt5 row mt-3">
              <div class="col-md-6">
                <form action="/add_comment" method="POST">
                  <div class="blog_1dt5l">
                    <textarea
                      name="comment_text"
                      placeholder="Write your comment here..."
                      class="form-control form_text"
                      required
                    ></textarea>
                    <input type="hidden" name="movie_id" value="{{ movie_details.id }}">
                    <input type="hidden" name="movie_name" value="{{ movie_details.title }}">
                    {% if current_user.is_authenticated %}
                      <br>
                      <button type="submit" class="button">Comment</button>
                    {% else %}
                      <h6 class="mt-3 mb-0"><a class="button" href="{{ url_for('login') }}">Login for Comment</a></h6>
                    {% endif %}
                    </div>
                </form>
              </div>
            </div>
          </div>
          
        </div>
      </div>



      <!-- ########################################### -->
      <div class="col-md-4">
        <div class="blog_1r">
          <div class="blog_1r1 p-4 mt-4">
            <h4>Movie <span class="col_red">Overview</span></h4>
            <hr class="line mb-4" />
            <h6>
                <a href="#"
                  ><i class="fa fa-chevron-right me-1 col_red font_12"></i>
                  IMDB Rating <span class="pull-right">{{
                    movie_details.vote_average }}</span></a
                >
              </h6>
            <hr />
            <h6>
              <a href="#"
                ><i class="fa fa-chevron-right me-1 col_red font_12"></i> Popularity
                <span class="pull-right">{{
                    movie_details.popularity
                    }}</span></a
              >
            </h6>
            <hr />
            <h6>
              <a href="#"
                ><i class="fa fa-chevron-right me-1 col_red font_12"></i>
                Runtime <span class="pull-right">{{ movie_details.runtime
                    or
                    'N/A' }} minutes</span></a
              >
            </h6>
            <hr />
            <h6>
              <a href="#"
                ><i class="fa fa-chevron-right me-1 col_red font_12"></i> Budget
                <span class="pull-right">${{
                    "{:,.0f}".format(movie_details.budget) if
                    movie_details.budget else 'Unknown' }}</span></a
              >
            </h6>
            <hr />
            <h6>
              <a href="#"
                ><i class="fa fa-chevron-right me-1 col_red font_12"></i>
                Revenue <span class="pull-right">${{
                    "{:,.0f}".format(movie_details.revenue) if
                    movie_details.revenue else 'Unknown' }}</span></a
              >
            </h6>
            <hr />
            <h6>
              <a href="#"
                ><i class="fa fa-chevron-right me-1 col_red font_12"></i>
                Votes <span class="pull-right">{{ movie_details.vote_count
                }}</span></a
              >
            </h6>
            <hr />
            
            <h6 class="mb-0">
              <a href="#"
                ><i class="fa fa-chevron-right me-1 col_red font_12"></i> Adult 
                <span class="pull-right">{{ movie_details.adult }}
                </span></a
              >
            </h6>
          </div>



            <h4>Recommendated <span class="col_red">Movies</span></h4>
            <hr class="line mb-4" />
            <!-- ########################################### -->
             {% for movie in recommended_movies %}
                <div class="blog_1r1i row">
                  <div class="col-md-4 col-4">
                    <div class="blog_1r1il">
                      <div class="grid clearfix">
                        <figure class="effect-jazz mb-0">
                          <a href="{{ url_for('movie_details', movie=movie.title, id=movie.id ) }}""
                            ><img
                              src="{{ movie['img_url'] }}"
                              class="w-100"
                              alt="abc"
                          /></a>
                        </figure>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-8 ps-0 col-8">
                    <div class="blog_1r1ir">
                      <h6 class="mb-1">
                        <a class="col_red" href="{{ url_for('movie_details', movie=movie.title, id=movie.id ) }}"
                          >{{ movie['title'] }}</a
                        >
                      </h6>
                      <p class="mb-0">
                        {{ movie['description'] | truncate_words(10) }}
                      </p>
                    </div>
                  </div>
                </div>
                <hr />
              {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %} {% include 'free_movie_zip/footer.html' %}
